In [1]:
a = 371

In [2]:
a // 7

53

In [3]:
a % 7

0

In [4]:
b = 372
b / 7, b // 7, b % 7

(53.142857142857146, 53, 1)

In [9]:
c = 10

In [10]:
c / 7

1.4285714285714286

In [11]:
c // 7

1

In [12]:
c % 7

3

In [13]:
a = 477557101

In [14]:
a % 7

0

seven(371) should return [35, 1]

seven(1603) should return [7, 2]

seven(477557101) should return [28, 7]

In [19]:
def seven(m):
    y = m % 10
    x = m // 10
    n = x - 2*y
    if n % 7 == 0:
        print('divisible by 7')
    print(x, y)

In [20]:
seven(371)

divisible by 7
37 1

In [23]:
string = 'Hello ! World@!'

r = []
for c in string:
    if c == '!':
        pass
    else:
        r.append(c)
#
print(r)
s = ''.join(r)
s

['H', 'e', 'l', 'l', 'o', ' ', ' ', 'W', 'o', 'r', 'l', 'd', '@']

'Hello  World@'

In [24]:
def remove_exclamation_marks(string):
#string = 'Hello ! World@!'
    r = []
    for c in string:
        if c == '!':
            pass
        else:
            r.append(c)
    #
#     print(r)
    s = ''.join(r)
    return s

In [25]:
string = 'Hello ! World@!'
string += '!'

In [26]:
string

'Hello ! World@!!'

In [17]:
string += ' hahaha '
string

NameError: name 'string' is not defined

In [18]:
def tp(tic, perc, n):
    sum = 0
    for _ in range(n):
        sum += tic * perc**(1+n)
    return sum

def movie(card, ticket, perc):
    n = 1
    while True:
        priceA = ticket * n 
        priceB = card + tp(ticket, perc, n)
        pri/nt(n, priceB, priceA)

        if priceB < priceA:
            return n
        else:
            n += 1

In [16]:
movie(500, 15, 0.9)

1 512.15 15
2 521.87 30
3 529.5245 45
4 535.4294 60
5 539.858075 75
6 543.046721 90
7 545.19905705 105
8 546.49045868 120
9 547.0715894135 135
10 547.0715894135 150
11 546.600873519365 165
12 545.753584909922 180
13 544.609745287174 195
14 543.2371377398763 210
15 541.6929542491664 225
16 540.0252360791998 240
17 538.2741320007348 255
18 536.4729963771708 270
19 534.6493465583122 285
20 532.8256967394537 300
21 531.0202834187838 315
22 529.2476957948533 330
23 527.5194228615211 345
24 525.8443275569067 360
25 524.2290570846001 375
26 522.6783974311857 390
27 521.1955791376081 405
28 519.7825405284342 420
29 518.4401538497191 435
30 517.1684191014626 450
31 515.9666297643602 465
32 514.8335141036637 480
33 513.7673552774628 495
34 512.7660930754655 510
35 511.82740976109307 525

35

In [10]:
movie(100, 10, 0.95)

1 109.5 10
2 118.05 20
3 125.72125 30
4 132.58024999999998 40
5 138.68904687499997 50
6 144.1055134375 60
7 148.8836107265625 70
8 153.073634503125 80
9 156.7224468752148 90
10 159.87369392383786 100
11 162.56801015041054 110
12 164.84321051951642 120
13 166.7344708263356 130
14 168.27449707617416 140
15 169.49368452396294 150
16 170.42026698428245 160
17 171.0804569872601 170
18 171.49857732247926 180
19 171.6971844817084 190
20 171.6971844817084 200
21 171.5179415205041 210
22 171.17737989421602 220
23 170.69207957675542 230
24 170.07736584130538 240
25 169.34739328045845 250
26 168.51522456109294 260
27 167.5929042304628 270
28 166.59152787149299 280
29 165.521306887844 290
30 164.39162918288116 300
31 163.21111598119504 310

31

In [12]:
15 * 0.90 + (15 * 0.90) * 0.90 + (15 * 0.90 * 0.90) * 0.90

36.585

In [13]:
a = 23.07

In [4]:
import numpy as np
sinC = 15* np.sin(23.07*np.pi/180) / 7
sinC

0.8396902402180251

In [14]:
c = np.arcsin(sinC) * 180 / np.pi 
c

57.107424195893564

In [27]:
diff = 90 - c
diff, 90 + diff

(32.892575804106436, 122.89257580410643)

In [26]:
np.sin((90+diff) * np.pi / 180)

0.8396902402180253

In [9]:
sinB = 10 / 7. * np.sin(23.07*np.pi/180)
sinB

0.5597934934786835

In [12]:
b = np.arcsin(sinB) * 180 / np.pi

In [15]:
a+b+c

114.21894184038015

In [16]:
15**2

225

In [19]:
r = ((49-325)/-300)

In [21]:
np.arccos(r) * 180 / np.pi

23.07391806563097

In [1]:
def where_is_he(p, bef, aft):
    """
    no less than bef
    no more than aft
    """
    return p - bef

In [2]:
variable = 21
alist = [1, 'name', 'haha', variable]
print(alist)

[1, 'name', 'haha', 21]

In [3]:
variable = 21
alist = list(1, 'name', 'haha', variable)
print(alist)

TypeError: list expected at most 1 argument, got 4

In [4]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [5]:
adiction = { 'a': ord('a'), 'b': ord('b')}
print(adiction)

{'a': 97, 'b': 98}

In [7]:
dict2 = dict(a=97, b=98)
print(dict2)

{'a': 97, 'b': 98}

In [8]:
dict2['a']

97